<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='images/favicon.png')}}"/>

    <title>GrandPy Bot</title>
  </head>
  <body style="background-image: url({{url_for('static', filename='images/background.jpg')}}); background-size: cover;">
    <div id="main_wrapper">
      <header>
          <nav class="navbar navbar-expand-sm navbar-light bg-white">
            <span class="navbar-brand" style="text-align: center;">
              <img class="d-inline" src="{{url_for('static', filename='images/logo.jpg')}}" alt="logo" width="10%" height="10%">
              <span class="navbar-text h2 text-success font-weight-light ml-3">
                <!-- Header texte for computers-->
                <span class="d-none d-lg-inline">{{config.TEXT["long_header"]}}</span>
                <!-- Header texte for smartphone and tablets-->
                <span class="d-inline d-lg-none">{{config.TEXT["short_header"]}}</span>
              </span>
            </span>
          </nav>
      </header>
      <div class="container mb-5" style="background-color: rgba(220,220,220,0.7);">
        <section class="row">
          <div class="col">
            <form id="user_form">
              <div class="form-group my-4 h5">
                <label for="user_message">{{config.TEXT["form_label"]}}</label>
                <input type="text" class="form-control" id="user_message" placeholder="{{config.TEXT['form_placeholder']}}">
              </div>
            </form>
              <div class="my-3 border border-info rounded" id="dialog_box" style="height: 500px; background-color: rgba(148, 165, 181, 0.5); overflow: auto;"></div>
              </div>
        </section>
        <a href="https://www.freepik.com/free-photos-vectors/background" class="text-muted">Background photo created by freepik - www.freepik.com</a>
      </div>
      <footer class="page-footer font-small bg-info fixed-bottom">
        <div class="container">
          <span class="footer-copyright text-center">© 2020 Copyright: Sylvain Catillon
            <a href="https://github.com/SylvainCatillon/GrandPy_Bot" class="badge badge-dark" target="_blank" rel="noreferrer">GitHub</a>
            <a href="https://www.linkedin.com/in/sylvain-catillon-01691b188" class="badge badge-light" target="_blank" rel="noreferrer">LinkedIn</a>
          </span>
	  	</div>
      </footer>
    </div>

    <!-- JQuerry -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <!-- Javascript functions -->
    <script src="{{url_for('static', filename='js/GrandPy_Bot.js')}}"></script>
  </body>
</html>